<html>
  <head>
    <title>Add Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
  		<header>
 	 		<div class="header-top">
        		<div class="container">
      				<div class="welcome_name pull-left">
        				<h3>Admin View</h3>
        			</div>
      				<div class="pull-right">
        				<nav class="navbar clear-right pull-right">
          					<ul class="nav nav-pills">      
				                <li>
				                  	<a href="/addcatalogs" title="home" class="active">Home</a>
				                </li>
				                
			                  	<li>
			                    	<a href="/logout" title="logout" class="">Logout</a>
			                	</li>
          					</ul>
        				</nav>
      				</div>
    			</div>
  			</div>
     	</header>
     	
     	<div class="bs-example">
		    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
		      <li><a href="/addcatalogs">Catalogs</a></li>			      
		      <li class="active"><a href="/addproducts/">Products</a></li>
		    </ul>
		</div>
  
  		<form action="/addproducts" method="post" class="addCatalog">
			<div class="form-group pull-left">
              <label for="ProductName" class="control-label pull-left labelProduct">Product Name</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="inputProductName" id="inputProductName" placeholder="Product Name">
              </div>
            </div>
    	
			
    		<div class="select_category pull-left category_list" style="width:100%">
			    <div class="control-group pull-left" style="width:100%">
			        <label class="control-label pull-left labelProduct">Select Category</label>
			        <div class="controls pull-left category_list1">                                      
			            <select name="category_list_product" class="category_list_product">
			                <% for(var i in catalogs) 
			                {                                   
			                %>
			                <option value="<%= catalogs[i].Name %>" name="catalogName"> <%= catalogs[i].Name %></option>
			                <% } %>
			            </select>
			        </div>
			    </div>                   
			</div>
    			
            <div class="form-group common_css">
              <label for="ProductDescription" class="pull-left labelProduct control-label">Product Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputProductDescription" id="inputProductDescription" placeholder="Product Description">
              </div>
            </div>
            <div class="form-group common_css">
              <label for="ProductCost" class="pull-left labelProduct control-label">Product Cost</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputProductCost" id="inputProductCost" placeholder="Product Cost">
              </div>
            </div>
            <div class="form-group common_css">
              <label for="ProductQuantity" class="pull-left labelProduct control-label">Product Quantity</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputProductQuantity" id="inputProductQuantity" placeholder="Product Quantity">
              </div>
            </div>
            <div class="form-group common_css">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Add Product</button>
              </div>
            </div>
            
		      <label class="message pull-left" style="margin-left:24%"></label>
		      <script>
		      	<% if(message=="0") 
		      	{ %>
		      		jQuery(".message").text("Product already exists");
		      	<% 
		      	}
		      	else if(message=="1") 
		      	{ %>
		      		jQuery(".message").text("Product added successfully");
		      	<% 
		      	} %>
		      </script>
		</form>
 </body>

</html>