<html>
  <head>
    <title>Checkout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div class="panel panel-primary checkoutBody">
      <!-- Default panel contents -->
        <div class="panel-heading">Thank you for shopping</div>
        <div class="panel-body">
           <form class="form-horizontal" role="form">
		               <div class="form-group  usernameDiv">
		                  <label class="checkout control-label pull-left" style="margin-left: 2%;"> Your items will be delivered in 2-3 business days</label>
		               </div>
	          </form>
        </div>
	</div>
 </body>
 
</html>